# venv
.venv/

# python
__pycache__/
*.pyc

# logs / audio / models
*.wav
recordings/
data/
models/
*.log
*.jsonl
*.txt
config.json

# PyInstaller build artifacts
/build/
/dist/

# Release artifacts
/release/
*.zip
*.exe

# secrets
.env

.code-workspace
