{
  "version": 1,

  "dyna_watch_dir": "D:/DynaID",
  "dyna_glob": "dyna*.txt",
  "delete_after_read": true,

  "outputs_dir": "data/sessions",
  "wav_dir": "data/wav",
  "llm_outputs_dir": "data/llm",
  "correction_rules_path": "./corrections.json",
  "wav_expire_days": 7,
  
  "port": 8000,

  "ssl": {
    "enabled": false,
    "certfile": "certs/cert.pem",
    "keyfile": "certs/key.pem"
  },

  "asr": {
    "enabled": true,
    "model_id": "small",

    "models": {
      "small": "models/small",
      "medium": "models/models--Systran--faster-whisper-medium",
      "large-v3": "models/models--Systran--faster-whisper-large-v3",
      "large-v3-turbo": "models/models--mobiuslabsgmbh--faster-whisper-large-v3-turbo",
      "kotoba-v2.0": "models/models--kotoba-tech--kotoba-whisper-v2.0-faster"
    },

    "language": "ja",
    "device": "cpu",
    "compute_type": "int8",
    "beam_size": 5,
    "temperature": 0.0,
    "condition_on_previous_text": false,
    "initial_prompt": "日本の医療現場の会話。聞こえたとおりに書き起こす。推測で補完しない。薬剤名は聞こえた通りに。"
  },

  "llm": {
    "host": "http://127.0.0.1:11434",
    "model_default": "gemma3:12b",
    "timeout": 120,
    "temperature": 0.0,
    "top_p": 0.9,
    "default_prompt_id": "soap_v1",

    "prompts": {
      "soap_v1": {
        "label": "SOAP(発熱重視)",
        "template": "以下は医者と患者の診察室での会話（主に医者の発言）です。音声認識のため同音異義語(「咳」→「席」、「鼻」→「花」など)が混ざります。それを考慮して、SOAP形式に要約してください。\n\n重要な制約:\n- 勝手に情報を追加しない（会話に無いことは書かない）\n- 不明なことは「不明」とし、推測しない\n- 可能なら箇条書き、特にS)の部分はなるべく時系列で簡潔に\n -体温と思われる情報は必ずSに記載 \n出力はSOAPのみ（前置き不要）。\n\n【会話テキスト】\n{asr_text}\n"
      },
      "translate": {
        "label": "英語翻訳",
        "template": "以下は診察会話を英語に翻訳してください。主に医者の発言部分のテキストですが、音声認識のため変換ミスが見られます。「咳」→「席」、「鼻」→「花」など文脈から間違いと思われるものを修正し、質問に対する返答の「うん」「はい」「ええ」等は必ず残し、言ってもないことを追加することなく、英語で出力してください。【会話テキスト】\n{asr_text}\n"
      },
      "yomi_correct": {
        "label": "誤変換訂正",
        "template": "以下は診察会話で主に医者の発言部分のテキストですが、音声認識のため変換ミスが見られます。「咳」→「席」、「鼻」→「花」など文脈から間違いと思われるものを修正し、質問に対する返答の「うん」「はい」「ええ」等は必ず残し、言ってもないことを追加することなく出力してください。【会話テキスト】\n{asr_text}\n"
      }
    }
  },

  "auto_llm": false,
  "auto_llm_prompts": [
    {
      "model_id": "gpt-oss:20b",
      "prompt_id": "soap_v1",
      "asr_correct": true
    }
  ]
}
